@import "~styles/variables.less";
@import "~styles/mixins.less";

.time-range-container {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-bottom: 20px;
}

.date-time-pickers {
    display: flex;
    gap: 5px;
    align-items: baseline;
}

.empty-container {
    &:extend(.empty-result);
    height: calc(100vh - 127px);
}
