.header {
    font-size: 18px;
    line-height: 20px;
    font-weight: 400;
    margin-bottom: 8px;
}

.actions-block {
    margin-top: 10px;
}

.items-container {
    margin: 0 -10px;
}

.items {
    border-collapse: collapse;
    width: 100%;
}

.item {
    cursor: pointer;
    &:hover {
        background-color: #f8f8f8;
    }
    td {
        padding: 10px;
    }
    border-bottom: 1px solid #eeeeee;

    &:last-child {
        border-bottom: 0;
    }
}

.tags-cell {
    max-width: 350px;
}

.contacts-cell {
    width: 80%;
}

.enabled-cell {
    min-width: 80px;
    max-width: 80px;
}

.disabled-label {
    color: #D43517;
    font-weight: 700;
}
