{
    "plugins": [
        "lodash",
        "@babel/plugin-proposal-class-properties",
        "@babel/plugin-transform-destructuring"
    ],
    "presets": [
        "@babel/preset-flow",
        [
            "@babel/preset-env",
            {
                "modules": false
            }
        ],
        "@babel/preset-react"
    ]
}
