{
    "plugins": [
        "react-hot-loader/babel",
        "@babel/plugin-proposal-class-properties",
        "@babel/plugin-transform-destructuring",
        "@babel/plugin-proposal-object-rest-spread"
    ],
    "presets": [
        "@babel/preset-flow",
        [
            "@babel/preset-env",
            {
                "modules": false
            }
        ],
        "@babel/preset-react",
        "@babel/typescript"
    ],
    "env": {
        "testing": {
            "presets":[
                "@babel/preset-flow",
                "@babel/preset-env",
                "@babel/preset-react"
            ]
        }
    }
}
