.list {
    .row {
        margin-top: 5px;
    }
}

.header {
    color: #666;
    font-style: italic;
}

.row {
    display: flex;
    align-items: center;
}

.name {
    overflow: hidden;
    flex-grow: 1;
    width: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.state-change {
    display: flex;
    align-items: center;
    flex-shrink: 0;
    width: 200px;
}

.arrow {
    margin-right: 10px;
    margin-left: 10px;
}

.date {
    flex-shrink: 0;
    width: 160px;
}
