@import "~styles/utils.module.less";

.cell {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.header-cell {
    position: relative;
    cursor: pointer;
}
.contacts-row,
.contacts-header-row {
    display: flex;
    gap: 5px;
    flex-wrap: nowrap;
}
.contacts-header-row {
    &:extend(.italic-font);
    margin-bottom: 10px;
    user-select: none;
}
.contacts-row {
    border-top: 1px solid #eee;
}
.clickable {
    &:hover {
        background-color: var(--item-hover);
        cursor: pointer;
    }
}
.active {
    color: @moira-brand-color;
}
