.root {
    width: 100%;
    display: inline-block;
}
.wrapper {
    width: 100%;
    display: inline-block;
    position: relative;
}
.input-area {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    padding: 3px 8px;
    width: 100%;
    min-height: 32px;
    box-sizing: border-box;
    background-color: var(--inputBg);
    border: var(--inputBorderWidth) solid var(--inputBorderColor);
    border-radius: var(--inputBorderRadiusMedium);
    transition: border-color 100ms cubic-bezier(0.5, 1, 0.89, 1);
    &:hover {
        border-color: var(--inputBorderColorHover);
    }
    &.focused {
        border-color: var(--inputBorderColorFocus);
        box-shadow: 0 0 0 var(--inputOutlineWidth) var(--inputBorderColorFocus);
    }
    &.error {
        border-color: var(--inputBorderColorError);
        box-shadow: 0 0 0 var(--inputOutlineWidth) var(--inputBorderColorError);
    }
}
.input-area-disabled {
    .input-area;
    background-color: var(--inputDisabledBg);
    border: 1px solid var(--inputDisabledBorderColor);
    pointer-events: none;
}
.tag-wrap {
    flex-shrink: 0;
    display: inline-block;
    margin: 2px 4px 2px 0;
}
.no-tags {
    color: gray;
}
.input {
    padding: 0;
    min-width: 50px;
    flex-grow: 1;
    border: none;
    color: var(--text-primary);
    outline: none;
    background-color: transparent;
    box-sizing: border-box;
    font-family: inherit;
    font-size: 14px;
    line-height: 24px;
    -webkit-appearance: none;
}
.tags-menu {
    padding: 8px;
}
.group {
    margin-top: 15px;
}
.title {
    display: block;
    margin-top: 0;
    margin-bottom: 5px;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
}
.tag-list {
    margin-top: -4px;
    margin-left: -5px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    & > * {
        margin-top: 4px;
        margin-left: 5px;
    }
}
