@import '~styles/variables.less';
@import '~styles/mixins.less';

.copyButton {
    position: absolute;
    right:-24px;
    top:3px
}

.target {
    top: 4px;
    position: relative;
    margin-bottom: 10px;
}

.target-number {
    top:3px;
    position: absolute;
    right: 100%;
    padding-right: 5px;
}

.days, .new-metrics {
    margin-bottom: 15px;
    display: flex;
    align-items: center;

    & > * {
        margin-right: 15px;
    }
}

.radio {
    display: flex;
    margin-right: 25px;
    align-items: center;

    & > * {
        margin-right: 5px;
    }
}

.new-metrics-help {
    max-width: 400px;

    p {
        padding-top: 10px;
        margin-bottom: 0;

        &:first-child {
            margin-top: 0;
        }
    }
}

.description-mode-tabs {
    margin-bottom: 10px;
}

.description-preview {
    padding: 20px;
    border: 1px dashed #ccc;
}

.edit-description-help {
    position: absolute;
    display: inline-block;
    margin-left: 5px;
}

.edit-description-help-message {
    max-width: 400px;
    display: grid;
    grid-template-columns: 110px auto;
    row-gap: 14px;

    &-row {
        grid-column: 1 / span 2;
    }
}

.buttons {
    display: flex;
    align-items: center;
    gap: 5px
}
