@import '~styles/variables.less';

.item {
    cursor: pointer;

    &:hover, &.enabled-cell:hover{
        background-color: #f8f8f8;
    }

    td {
        padding: 10px;
    }

    border-bottom: 1px solid #eeeeee;

    &:last-child {
        border-bottom: 0;
    }

    position: relative;

    &::after {
        content: "";
        position: absolute;
        top:  0;
        right:  calc(100% - 80px);
        bottom:  0;
        background-color: #f8f8f8;
        opacity:  0;
    }

    &:hover::after {
        opacity:  1;
    }
}

.error {
    &:hover {
        background-color: #f8a291;
    }

    background-color: #ffcece;
}

.triggers-cell {
    display: table-cell;
    white-space: nowrap;
}

.contacts-content {
    display: flex;
    gap: 5px;
    flex-wrap: wrap;
    align-items: center;
}

.tags-cell {
    max-width: 150px;
}

.contact {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.contacts-cell {
    width: 60%;
}

.enabled-cell {
    width: 80px;
    text-align: end;
}

.disabled-label {
    overflow: hidden;
    color: #D43517;
    font-weight: 700;
}

.tooltip-cell {
    width: 10px;
}

@media screen and (min-width: @breakpoint) {
    .showMore-button-cell {
        display: none;
    }
}

@media screen and (max-width: @breakpoint) {
    td > div {
        max-height: 20px;
        overflow: hidden;
        box-sizing: border-box;
        max-width: 90px;
    }

    .contact > span:nth-child(2) {
        display: none;
    }

    .triggers-cell {
        display: table-cell;
        white-space: nowrap;
        max-width: 45px;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .expanded {
        td > div {
            max-height: 100%;
        }

        .contact > span:nth-child(2) {
            display: inline-block;
        }
    }
}
