@import "./variables.less";

.container () {
    margin-right: auto;
    margin-left: auto;
    padding-right: 15px;
    padding-left: @containerGap;
    max-width: @containerMaxWidth;
    box-sizing: border-box;
}

.base-reset () {
    margin: 0;
    padding: 0;
    border: none;
    background: none;
    font: inherit;
    -webkit-appearance: none;
    appearance: none;
}
