@linkColor: #3072c4;
@primaryBackground: #ffffff;
@colorTransparent: transparent;
@gapSize: 5px;
@containerMaxWidth: 1200px;
@containerGap: 15px;
@breakpoint: 600px;
@colorGrey: #666;
@emptyListTextColor: #888888;
@moira-brand-color: #00bfa5;
@moira-color-dev: #9780b3;
@moira-color-staging: #809cb3;

body[data-theme="Light Theme"] {
    --background-primary: #ffffff;

    --header-menu-buttons: #ffffff;

    --inverted: #151515;

    --item-hover: #f8f8f8;

    --text-secondary: @colorGrey;

    --icon-checked-color: #00a8ff;
    --icon-hover-color: black;
    --icon-color: #858585;

    // code editor light theme colors
    --background-gutter: #f5f5f5;
    --line-number-gutter: #6c6c6c;
}

body[data-theme="Dark Theme"] {
    --background-primary: #151515;
    --background-secondary: #232323;
    --background-tertiary: #505050;
    --background-plate: #151515;

    --header-menu-buttons: #ffffff;

    --inverted: #fff;

    --item-hover: #232323;

    --icon-checked-color: #00a8ff;
    --icon-hover-color: white;
    --icon-color: #858585;

    // code editor dark theme colors
    --background-gutter: #585858;
    --line-number-gutter: #151515;
    --active-line-gutter: #cbcbcb;
    --active-line: rgba(255, 255, 255, 0.16);
}
