@linkColor: #3072c4;
@primaryBackground: #ffffff;
@colorTransparent: transparent;
@gapSize: 5px;
@containerMaxWidth: 1200px;
@containerGap: 15px;
@breakpoint: 600px;
@colorGrey: #666;
@emptyListTextColor: #888888;
@moira-brand-color: #00bfa5;
@moira-color-dev: #9780b3;
@moira-color-staging: #809cb3;

body[data-theme="Light Theme"] {
    --background-primary: #ffffff;
    --background-tertiary: #dddddd;
    --background-secondary: #f2f2f2;
    --background-plate: #f3f3f3;

    --divider: rgba(0, 0, 0, 0.15);

    --header-menu-buttons: #ffffff;

    --inverted: #151515;

    --item-hover: #f2f2f2;

    --text-primary: #151515;
    --text-secondary: @colorGrey;

    --icon-checked-color: #00a8ff;
    --icon-hover-color: #000;
    --icon-color: #858585;

    --search-selector: #ffffff;

    // code editor light theme colors
    --background-gutter: #f5f5f5;
    --line-number-gutter: #6c6c6c;
    --active-line-gutter: #e2f2ff;
    --active-line: #cceeff44;
    --border-gutter: #ddd;

    --promQLLabelName: #219;
    --promQLString: #a11;
    --promQLOperatorKeyword: #708;
    --promQLNumber: #164;
    --promQLModifier: #708;
}

body[data-theme="Dark Theme"] {
    --background-primary: #151515;
    --background-secondary: #232323;
    --background-tertiary: #505050;
    --background-plate: transparent;

    --divider: #505050;

    --header-menu-buttons: #ffffff;

    --inverted: #fff;

    --item-hover: #232323;

    --text-primary: #e6e6e6;
    --text-secondary: @colorGrey;

    --icon-checked-color: #00a8ff;
    --icon-hover-color: #ffffff;
    --icon-color: #858585;

    --search-selector: #232323;

    // code editor dark theme colors
    --background-gutter: #585858;
    --line-number-gutter: #151515;
    --active-line-gutter: #cbcbcb;
    --active-line: rgba(255, 255, 255, 0.16);
    --border-gutter: #979797;

    --promQLLabelName: #8675ff;
    --promQLString: #ff9f9f;
    --promQLOperatorKeyword: #d3b1d8;
    --promQLNumber: #20a972;
    --promQLModifier: #d3b1d8;
}
