@linkColor: #3072c4;
@primaryBackground: #ffffff;
@colorTransparent: transparent;
@gapSize: 5px;
@containerMaxWidth: 1200px;
@containerGap: 15px;
@breakpoint: 600px;
@colorGrey: #666;
@emptyListTextColor: #888888;
@moira-brand-color: #00bfa5;
@moira-color-dev: #9780b3;
@moira-color-staging: #809cb3;
@noteInfoColor: #2f80ed;
