@import '~styles/variables.less';
@import '~styles/mixins.less';

.header {
    display: flex;
    align-items: baseline;
}

.title {
    margin-top: 0;
    margin-bottom: 15px;
    flex-grow: 1;
    font-weight: 300;
    font-size: 32px;
    line-height: 40px;
}

.controls {
    flex-shrink: 0;
    display: flex;
    align-items: baseline;
    margin-left: auto;
}

.control {
    margin-left: 15px;
}

.list {
    display: flex;
    flex-wrap: wrap;
    margin-top: 0;
    margin-bottom: 0;

    dt {
        font-style: italic;
        margin-top: 10px;
        width: 150px;
        color: #666;
    }

    dd {
        margin-top: 10px;
        margin-left: 0;
        width: calc(~'100% - 150px');

        &.description {
            overflow: hidden;
        }
        &.codeEditor {
            margin-left: -2px;
        }
    }
}

.maintenance-info {
    color: @linkColor
}

.exception-explanation {
    white-space: pre-wrap;
    .line-2 {
        margin-left: 20px;
    }
}
