.messageContainer {
    position: relative;
    width: max-content;
    caret-color: #000;
}

.message {
    position: absolute;
    top: 7px;
    left: 11px;
    user-select: none;
    pointer-events: none;
    overflow: hidden;
    width: calc(100% - 22px);
    white-space: nowrap;
}
