@import '~styles/variables.less';
@import '~styles/mixins.less';

.row {
    display: flex;
    flex-wrap: wrap;
    padding: 5px;

    &:not(.header) {
        border-top: 1px solid #eee;
    }

    &.active {
        background-color: #f6f6f6;
    }

    &.clicable {
        cursor: pointer;

        &:hover {
            background-color: rgba(0, 0, 0, 0.05);
        }
    }
}

.header {
    color: #666;
    font-style: italic;
}

.name {
    width: calc(~'100% - 240px');

    &.clicked {
        margin: 0;
        padding: 0;
        border: none;
        background: none;
        color: inherit;
        font: inherit;
        text-align: left;
        -webkit-appearance: none;
        appearance: none;
        cursor: pointer;
    }
}

.trigger-counter,
.metric-counter,
.control {
    width: 80px;
    margin: 0;
    padding: 0;
    border: none;
    background: none;
    color: #666;
    font: inherit;
    font-style: italic;
    -webkit-appearance: none;
    appearance: none;
}

.info {
    width: 100%;
}

.group {
    margin-top: 10px;
}

.title {
    margin: 0;
}
.item {
    margin-top: 5px;
}
.sorting {
    cursor: pointer;
}

.icon {
    font-style: normal;
}
