@import "~styles/utils.module.less";

.row {
    display: flex;
    align-items: flex-start;
    margin-top: 5px;
}
.timestamp {
    width: 15%;
}
.state {
    width: 6%;
    display: flex;
    align-items: center;
    flex-shrink: 0;
}
.trigger {
    overflow: hidden;
    width: 27%;
    white-space: nowrap;
    text-overflow: ellipsis;
    box-sizing: border-box;
}
.user {
    width: 14%;
}
.contact {
    display: flex;
    align-items: center;
    text-overflow: ellipsis;
    width: 16%;
    .contact-name {
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }
}
.throttled {
    width: 7%;
    &.false {
        color: #ee0701;
    }
    &.true {
        color: #128a0c;
    }
}
.fails {
    width: 5%;
}
.remove {
    width: 10%;
}
.no-result {
    color: @colorGrey;
    text-align: center;
}
