@import '~styles/variables.less';
@import '~styles/mixins.less';

.items {
    .row {
        margin-top: 5px;
        margin-left: -20px;
        padding-left: 20px;

        &:hover {
            background-color: #eee;
        }
    }
}

.row {
    display: flex;
    align-items: flex-start;
}

.header {
    color: #666;
    font-style: italic;
}

.state {
    flex-shrink: 0;
    padding-top: 6px;
    width: 25px;
    height: 20px;
    box-sizing: border-box;

    .header & {
        padding-top: 0;
    }
}

.name {
    overflow: hidden;
    flex-grow: 1;
    padding-right: 10px;
    width: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
    box-sizing: border-box;
}

.event {
    flex-shrink: 0;
    padding-right: 10px;
    width: 170px;
    box-sizing: border-box;
}

.value {
    flex-shrink: 0;
    padding-right: 10px;
    width: 80px;
    box-sizing: border-box;
}

.controls {
    flex-shrink: 0;
    width: 210px;
}

.sorting {
    cursor: pointer;
}

.icon {
    font-style: normal;
}
