.function {
    color: #1a1aa6;
}

.badFunction {
    border-radius: 3px;
    position: relative;
    text-decoration: underline;
}

.error {
    padding: 0 1px 1px;
    margin: 0 -1px;
    color: #fff;
    background: #dc3545;
}

.warning {
    padding: 0 1px 1px;
    margin: 0 -1px;
    background: #ffc107;
}

.bracketHighlight {
    background: #aecbfa;
}

.tooltip {
    max-width: 400px;
}
