@import "~styles/variables.less";
@import "~styles/mixins.less";

.menu-container {
    position: relative;
    display: grid;
    width: 100%;
    grid-template-columns: 95px 260px;
    grid-template-rows: 300px 30px;
    background: #fff;
    border: 1px solid #d5d5d5;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}

.footer {
    z-index: 1000;
    grid-column: 1 / span 2;
    display: grid;
    justify-content: center;
    padding: 5px 13px;
    background: #f2f2f2;
    color: #333;
    align-items: baseline;
    width: calc(100% - 26px);
}
