@import '~styles/variables.less';
@import '~styles/mixins.less';

.list {
    display: flex;
    column-gap: 5px;
    row-gap: 4px;
    flex-wrap: wrap;
    align-items: flex-start;
}

.item {
    max-width: 100%;
}
