@import "~styles/variables.less";

.input-container-style() {
    max-width: 440px;
    margin-left: -8px;
    margin-right: -8px;
}

.form {
    .row {
        margin-bottom: 15px;

        &:last-child {
            margin-bottom: 0;
        }

        .caption {
            color: @colorGrey;
            margin-bottom: 5px;
            margin-right: 1px;
        }

        .value {
            &.with-input {
                .input-container-style();
            }
        }
    }

    .row-options {
        padding-left: 26px;
        padding-top: 5px;
    }

    .graph-theme-toggle {
        margin-left: 5px;
        margin-right: 5px;
    }
}

.note-container {
    .input-container-style();
}
