name: Test
on:
  pull_request:
jobs:
  test:
    name: Test frontend
    runs-on: ubuntu-latest

    container:
      image: selenium/standalone-chrome:84.0

    steps:
      - uses: actions/checkout@v2

      - uses: actions/setup-node@v2
        with:
          node-version: "14"

      - name: Install dependencies
        run: yarn install

      - name: Run unit tests
        run: yarn test

      - name: Run screenshot tests
        run: yarn creevey:github

      - name: Archive artifacts
        uses: actions/upload-artifact@v2
        if: ${{ failure() }}
        with:
          name: screenshots-report
          path: .creevey/report
